[build]
  command = 'npx pnpm i --store=node_modules/.pnpm-store && npm run republish; npm run build'
  publish = 'dist'
  functions = "netlify/functions"

[functions]
  node_bundler = "esbuild"

[[edge_functions]]
  path = "/contact"
  function = "transform-contact"

[template.environment]
  DATABASE_URL = "MOCK CockroachDB Connection String"

[build.environment]
  NPM_FLAGS = "--version" # prevent Netlify npm install


# For our testing, we use [Cypress](https://www.cypress.io/) for end-to-end testing. This makes sure that we can validate that our templates are rendering and displaying as we’d expect. By default, we have Cypress not generate deploy links if our tests don’t pass. If you’d like to keep Cypress and still generate the deploy links, go into your `netlify.toml` and delete the plugin configuration lines:
#[[plugins]] 
#  package = "netlify-plugin-cypress"

#  [plugins.inputs.postBuild]
#    enable = true
  
#  [plugin.inputs]
#    enable = false
    
[[redirects]]
  from = "/functions/*" # simplify all calls to serverless functions
  to = "/.netlify/functions/:splat" # all function calls will go to this path
  status = 200 # ok code
  force = true # ensure to always redirect
