.hero {
  padding: 8rem;
  display: flex;
  background-color: var(--t-fg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 25vw;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: var(--f-u7);
}
