.LatestNews{
    ul li {
    &:not(:last-child){
        margin-bottom:1rem;
    }
    &::before{
        content: "\2022";
        color: var(--primary-color);
        font-size: 1.25rem;
        font-weight: bold;
        display: inline-block; 
        width: 1rem;
    }
}
}