// Tokens
:root {
  // (c)olor
  --c-black: #05091e;
  --c-blue: #46b4ff;
  --c-gray: #90aab7;
  --c-green: #9ef2cb;
  --c-pink: #ffb8d9;
  --c-orange: #ffb7a3;
  --c-yellow: #ffdace;
  --c-white: #fff;

  // (t)heme
  --t-fg: var(--c-black);
  --t-bg: var(--c-white);
  --t-active: #216797;

  --primary-color: #6f41ff;
  --secondary-color: #151515;
  --tertiary-color: #646d84;
}

@font-face {
  font-display: swap;
  font-family: Gilroy;
  src: url(/assets/fonts/Gilroy-Regular.woff2?v=1) format('woff2'), url(/assets/fonts/Gilroy-Regular.woff?v=1) format('woff');
}

@font-face {
  font-display: swap;
  font-family: Gilroy-SemiBold;
  src: url(/assets/fonts/Gilroy-SemiBold.woff2?v=1) format('woff2'), url(/assets/fonts/Gilroy-SemiBold.woff?v=1) format('woff');
}

@font-face {
  font-display: swap;
  font-family: Gilroy-Bold;
  src: url(/assets/fonts/Gilroy-Bold.woff2?v=1) format('woff2'), url(/assets/fonts/Gilroy-Bold.woff?v=1) format('woff');
}

@font-face {
  font-display: swap;
  font-family: Gilroy-ExtraBold;
  src: url(/assets/fonts/Gilroy-ExtraBold.woff2?v=1) format('woff2'), url(/assets/fonts/Gilroy-ExtraBold.woff?v=1) format('woff');
}

// html {
//   font-size: 13px;
//   overflow-y: scroll;
// }

// Base
body {
  @apply font-sans;
  // background-color: #141618;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: var(--t-active);
  text-decoration: none;

  &:focus[role='button'],
  &:hover[role='button'] {
    color: var(--t-active);
    background-color: var(--c-gray);
    text-decoration: underline;
  }
}

/* variables */
@import './variables';

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.flicking-arrow-prev {
  width: 40px !important;
  height: 40px !important;
  &::after,
  &::before {
    content: none !important;
  }
}
.flicking-arrow-next {
  width: 40px !important;
  height: 40px !important;
  &::after,
  &::before {
    content: none !important;
  }
}
