// Tokens
:root {
  // (c)olor
  --c-black: #05091e;
  --c-blue: #46b4ff;
  --c-gray: #90aab7;
  --c-green: #9ef2cb;
  --c-pink: #ffb8d9;
  --c-orange: #ffb7a3;
  --c-yellow: #ffdace;
  --c-white: #fff;

  // (t)heme
  --t-fg: var(--c-black);
  --t-bg: var(--c-white);
  --t-active: #216797;
}

// Base
body {
  @apply font-sans;
}
* {
  box-sizing: content-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: var(--t-active);
  text-decoration: none;

  &:focus[role='button'],
  &:hover[role='button'] {
    color: var(--t-active);
    background-color: var(--c-gray);
  }
}

.Layout {
  h1 {
    @apply font-sans font-semibold uppercase align-middle break-all;
  }

  h2 {
    @apply font-sans font-semibold uppercase align-middle break-all;
  }

  h3 {
    @apply font-sans font-semibold uppercase align-middle break-all;
  }

  .btn {
    @apply py-2 px-4 font-semibold rounded-lg shadow-md;
  }
  .title {
    @apply font-sans text-2xl uppercase align-middle break-all;
  }
  .reading-content {
    @apply text-base leading-8 font-serif w-2/3 break-all;
  }

  .tag {
    // windicss, inject class to this https://windicss.org/features/directives.html
    @apply font-mono text-base text-center uppercase align-middle break-all inline-block mr-3 hover:bg-blue-100 hover:text-black border-2 border-blue-200  rounded p-1;

    &:nth-of-type(1n) {
      color: var(--c-green);
    }
    &:nth-of-type(2n) {
      color: var(--c-orange);
    }
    &:nth-of-type(3n) {
      color: var(--c-blue);
    }
    &:nth-of-type(4n) {
      color: var(--c-pink);
    }
  }
}
.heading1 {
  @apply text-4xl text-left;
}
.heading2 {
  @apply text-3xl text-left;
}
.heading3 {
  @apply text-xl text-left;
}

// Utils

// color
$colors: 'black', 'blue', 'white';
@each $color in $colors {
  // text color
  .tc-#{$color} {
    color: var(--c-#{color});
  }
  // background color
  .bg-#{$color} {
    background-color: var(--c-#{color});
  }
}

// wrapper center
.wrapper {
  max-width: 80em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
.wrapper__readable {
  max-width: 50em;
}
