---
import uniq from 'lodash/uniq'
import { ContentService } from '~/services/ContentService'

import SimplePageLayout from '~/layouts/SimplePageLayout.astro'
import ProjectCard from '~/components/ProjectCard/index.jsx'
import { Heading2 } from '~/components/Heading'

const title = 'All Categories'

const contentService = new ContentService()
const list = contentService.getCategories()

---
<SimplePageLayout title={title}>
  {
    list.map((r) => (
      <>
        <a href={r.url}>
          <Heading2 className="mt-5 mb-2" text={r.title}></Heading2>
        </a>        
        <div class="grid grid-col-3">
          {r.items?.map((item) => (
            <ProjectCard project={item} />
          ))}
        </div>
      </>
    ))
  }
</SimplePageLayout>

<!-- Example scoped style -->
<style lang="scss" scoped>
  
  
</style>
