---
import uniq from 'lodash/uniq'
import { CategoryService } from '~/services/PostService'
import PostService from '~/services/PostService'

import SimplePageLayout from '~/layouts/SimplePageLayout.astro'
import ProjectCard from '~/components/ProjectCard/index.jsx'
import { Heading2 } from '~/components/Heading'

const title = 'All Categories'

const articles = (await Astro.glob('../articles/**/*.md'))
  .filter(({ frontmatter }) => !!frontmatter.publishDate)
  .sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf())

const postService = new PostService(articles)
  
const categories = (await Astro.glob('../categories/**/*.md'))
  .filter(({ frontmatter }) => !!frontmatter.title)

const categoryService = new CategoryService(categories)
const list = categoryService.linkArticles(categoryService.getAll(), postService.getAll())

---
<SimplePageLayout title={title}>
  {
    list.map((r) => (
      <>
        <a href={r.url}>
          <Heading2 className="mt-5 mb-2" text={r.title}></Heading2>
        </a>        
        <div class="grid grid-col-3">
          {r.items?.map((item) => (
            <ProjectCard project={item} />
          ))}
        </div>
      </>
    ))
  }
</SimplePageLayout>

<!-- Example scoped style -->
<style lang="scss" scoped>
  
  
</style>
