---
import BaseSEOLayout from '~/layouts/BaseSEOLayout.astro'
import AppConfig from '~/AppConfig'
import MainNew from '~/containers/HomePage/MainNew'
import HotNew from '~/containers/FeaturedNews/HotNew'
import Tivi from '~/containers/HomePage/Tivi'
import BackGround from '~/components/BackGround'
import { AdsFullWidth } from '~/components/Ads'


const articles = await Astro.glob('./articles/**/*.md') // Data Fetching: List all Markdown posts in the repo.

import PostService from '~/services/PostService'
import LatestNews from '~/containers/HomePage/LatestNews'
import Subscribe from '~/containers/HomePage/Subscribe/index'
import InDepthTopics from '~/containers/FeaturedNews/InDepthTopics/index'
import { ButtonOutline, ButtonOutlinePrimary, ButtonPrimary } from '~/components/Button'

const postService = new PostService(articles)
const mainArticles = postService.getAll().slice(0, AppConfig.homePageSettings.frontPagePostLimit || 6)
const highlightArticles = postService.getHomeHighlightItems().slice(0, AppConfig.homePageSettings.frontPagePostLimit || 6)
const tiviArticles = postService.getHomeTVWidgetItems().slice(0, AppConfig.homePageSettings.frontPagePostLimit || 6)


const title = AppConfig.siteTitle
const description = AppConfig.siteSlogan
---

<BaseSEOLayout title={description} description={description} className="HomePage ">
    
    <main class="FeaturedNew wrapper z-1 relative lg:m-0 sm:mx-3">
        <HotNew articles={highlightArticles} className="mt-10 sm-max:mt-6" />
        <ButtonOutlinePrimary onClick={()=>{}} className="mx-auto mt-6 hidden sm-max:block">Xem Thêm</ButtonOutlinePrimary>
        <InDepthTopics articles={highlightArticles} className="mt-10 sm-max:mt-6 sm-max:hidden" />
    </main>

</BaseSEOLayout>
