---
import PortfolioPreview from '../components/PortfolioPreview/index.jsx'
import SimplePageLayout from '~/layouts/SimplePageLayout.astro'
const title = 'All Products in shop'

const list = (await Astro.glob('./products/**/*.md'))
  .filter(({ frontmatter }) => !!frontmatter.publishDate)
  .sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf())
---

<SimplePageLayout title={title}>
  <div class="grid">
    {list.map((project) => <PortfolioPreview project={project} />)}
  </div>
</SimplePageLayout>

<style lang="scss">
  .grid {
    display: grid;
    grid-gap: 3rem;
  }
</style>
