---
import ProjectCard from '../components/ProjectCard/index.jsx'
import SimplePageLayout from '~/layouts/SimplePageLayout.astro'
import uniq from 'lodash/uniq'
import { Heading2 } from '~/components/Heading/index.jsx'

const title = 'All Tags/Topics'

const list = (await Astro.glob('./articles/**/*.md'))
  .filter(({ frontmatter }) => !!frontmatter.publishDate)
  .sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf())

let tags = uniq(list.map(({ frontmatter }) => frontmatter.tags).flat())
  .sort()
  .map((tag) => ({
    title: tag,
    path: `/tags/${tag}`,
    items: list.filter(({ frontmatter }) => frontmatter.tags.includes(tag)),
  }))
---

<SimplePageLayout title={title}>
    {
      tags.map((tag) => (
        <>
          <Heading2 className="mt-5 mb-2">{tag.title}</Heading2>

          <div class="grid grid-col-3 gap-5">
            {tag.items.map((item) => (
              <ProjectCard project={item} />
            ))}
          </div>
        </>
      ))
    }
</SimplePageLayout>

<!-- Example scoped style -->
<style lang="scss" scoped>
  
  
</style>
