.footer {
  text-align: center;
  padding-top: 6rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
}

.socialicon {
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  transition: fill linear 150ms;
}
