---
import MainHead from '../components/Site/MainHead.astro'
import Footer from '../components/Footer/index.jsx'
import Nav from '../components/Nav/index.jsx'
import AppConfig from '~/AppConfig'

// apply windicss for the site
import 'virtual:windi.css'
import '../styles/global.scss'
// apply carousel for the site
import "@egjs/preact-flicking/dist/flicking.css";
// Or, if you have to support IE9
import "@egjs/preact-flicking/dist/flicking-inline.css";
import "@egjs/flicking-plugins/dist/flicking-plugins.css";
import "@egjs/flicking-plugins/dist/pagination.css";

const { lang, className = '' } = Astro.props
---

<html lang={lang || 'en'}>
  <head>
    <MainHead title={AppConfig.siteTitle} description={AppConfig.siteSlogan} />
    <slot name="head" />
  </head>

  <body class="BaseLayout">
    <Nav />
      <section class={`${className} md:container max-w-1120px md:mx-auto`}>
      <slot />
    </section>
    <Footer />
    
  </body>
</html>
