---
import MainHead from '../components/Site/MainHead.astro';
import Footer from '../components/Footer/index.jsx';
import Nav from '../components/Nav/index.jsx';

import "../styles/global.scss"

const { lang } = Astro.props
---

<html lang={lang || 'en' }>

<head>
    <MainHead title="OnChainZ: Personal Site" description="OnChainZ: Developer, Speaker, and Writer..." />
    <slot name="head" />
</head>

<body class="BaseLayout">
    <Nav />
    <main>
        <div class="container mx-auto my-4">
            <slot />
        </div>
    </main>
    <Footer />
</body>

</html>