---
import AppConfig from '~/AppConfig'

import BaseSEOLayout from '~/layouts/BaseSEOLayout.astro'
import HotNew from '~/containers/FeaturedNews/HotNew'
import { ContentService } from '~/services/ContentService'
import InDepthTopics from '~/containers/FeaturedNews/InDepthTopics/index'
import { ButtonOutline, ButtonOutlinePrimary, ButtonPrimary } from '~/components/Button'

const { content } = Astro.props

const title = content?.title || AppConfig.siteTitle || 'Category layout'
const description = AppConfig.siteSlogan
const url = Astro.url

const contentService = new ContentService()
const highlightArticles = contentService.getArticles_HomeHighlightItems()
---

<BaseSEOLayout lang={content.lang} title={title} description={description} className="CategoryLayout">
  <main class="wrapper z-1 relative lg:m-0 sm:mx-3">
    <HotNew articles={highlightArticles.slice(0, 4)} className="mt-10 sm-max:mt-6" />
    <ButtonOutlinePrimary onClick={() => {}} className="mx-auto mt-6 hidden sm-max:block">Xem Thêm</ButtonOutlinePrimary>
    <InDepthTopics url={url} articles={highlightArticles.slice(4, 20)} className="mt-10 sm-max:mt-6 sm-max:hidden" />
  </main>
</BaseSEOLayout>

<style scoped lang="scss">

</style>
