---
import BaseSEOLayout from './BaseSEOLayout.astro'
let {
    lang,
    title,
    description,
    frontmatter
} = Astro.props;

title = title || frontmatter?.title || 'Simple page layout'
---

<BaseSEOLayout lang={lang} title={title} description={description}>
    <div class="wrapper SimplePageLayout">
        <h1 class="heading1">{title}</h1>

        <slot />
    </div>
</BaseSEOLayout>